@font-face {
  font-family: 'a';
  src: url('../font/iconfont.ttf');
}
*[data-role=shu]:before {
  content: "\e69b";
  font-family: "a";
}
*[data-role=shu][icon-pos=top]:before {
  content: "\e69b";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=shu][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=shu][icon-pos=right]:after {
  content: "\e69b";
  font-family: "a";
}
*[data-role=shu][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=shu][icon-pos=bottom]:after {
  content: "\e69b";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=fdj]:before {
  content: "\e649";
  font-family: "a";
}
*[data-role=fdj][icon-pos=top]:before {
  content: "\e649";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=fdj][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=fdj][icon-pos=right]:after {
  content: "\e649";
  font-family: "a";
}
*[data-role=fdj][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=fdj][icon-pos=bottom]:after {
  content: "\e649";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=yumao]:before {
  content: "\f00f5";
  font-family: "a";
}
*[data-role=yumao][icon-pos=top]:before {
  content: "\f00f5";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=yumao][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=yumao][icon-pos=right]:after {
  content: "\f00f5";
  font-family: "a";
}
*[data-role=yumao][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=yumao][icon-pos=bottom]:after {
  content: "\f00f5";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=shezhi]:before {
  content: "\e604";
  font-family: "a";
}
*[data-role=shezhi][icon-pos=top]:before {
  content: "\e604";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=shezhi][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=shezhi][icon-pos=right]:after {
  content: "\e604";
  font-family: "a";
}
*[data-role=shezhi][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=shezhi][icon-pos=bottom]:after {
  content: "\e604";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=ye]:before {
  content: "\e602";
  font-family: "a";
}
*[data-role=ye][icon-pos=top]:before {
  content: "\e602";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=ye][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=ye][icon-pos=right]:after {
  content: "\e602";
  font-family: "a";
}
*[data-role=ye][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=ye][icon-pos=bottom]:after {
  content: "\e602";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=xinfeng]:before {
  content: "\e640";
  font-family: "a";
}
*[data-role=xinfeng][icon-pos=top]:before {
  content: "\e640";
  font-family: "a";
  display: block;
  text-align: center;
}
*[data-role=xinfeng][icon-pos=right]:before {
  content: "";
  font-family: "a";
}
*[data-role=xinfeng][icon-pos=right]:after {
  content: "\e640";
  font-family: "a";
}
*[data-role=xinfeng][icon-pos=bottom]:before {
  content: "";
  font-family: "a";
}
*[data-role=xinfeng][icon-pos=bottom]:after {
  content: "\e640";
  font-family: "a";
  display: block;
  text-align: center;
}
